body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}


.nav-container,
.hero-section {
  background-color: #1f2937;
  padding-left: 100px;
  padding-right: 100px;
}

.nav-container {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.logo,
.nav-content a {
  text-decoration: none;
  color: white;
  
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
}

.nav-content a {
  padding-left: 15px;
  font-size: 18px;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}


.hero-section h1 {
  font-size: 48px;
  font-weight: bold;
  color: #F9FAF8;
}

.hero-section p {
  font-size: 18px;
  color: #E5E7EB;
}

.hero-section button {
  background-color: #3882F6;
  color: white;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 5px;
}

.hero-section img {
  width: 300px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  margin-left: 50px;
}

.info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-justify: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.info-header {
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
}

.boxes {
  display: flex;
  flex-direction: row;
}

.box-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.image-box {
  width: 150px;
  height: 150px;
  border: 5px solid #3882F6;
  border-radius: 10px;
}

.box-info {
  text-align: center;
  width: 150px;
  margin-top: 5px;
  padding: 0;
}

.quote-section {
  background-color: #E5E7EB;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 200px;
  padding-right: 200px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.quote {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

.author {
  text-align: right;
  font-size: 24px;
  font-weight: bold;
  padding-right: 10px;
}

.cta-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
  border: none;
  background-color: #3882F6;
  color: white;
  padding: 40px;
  border-radius: 10px;
}

.cta-button {
  background-color: #3882F6;
  border-color: white;
  border-radius: 5px;
  color: white;
  
  padding: 7px 25px;
}

footer {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
}